:root{
    --bg-col1: hsl(350, 100%, 88%);
    --bg-col2: hsl(300, 100%, 25%);
    --shape-color: hsla(0, 0%, 100%, 0.2);
    --section-color: hsla(350, 100%, 88%, 0.5);
    --main-font: 'Didact Gothic';
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: max(750px,100%);
}

body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(var(--bg-col1), var(--bg-col2));
    font-family: var(--main-font);
    color: white; 
}

/* ####################### ####################### #######################  */
/* ####################### PASSWORD APP STYLING ####################### */
/* ####################### ####################### #######################  */
.passwordapp{
    border: 5px dotted white;
    border-radius: 2rem;
    padding: 1rem;
    z-index: 9999;
}

#output{
    position: relative;
}

.passwordapp > section{
    background-color: var(--section-color);
    margin-block: 1rem;
    padding-block: 2rem;
    padding-inline: 1rem;
    border: 2px solid white;
    border-radius: 2rem;
}

#passwordString{
    text-align: center;
    font-size: 1rem;
    font-family: var(--main-font);
    background: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    color: white;
}
#copypassword{
    position: absolute;
    display: inline-block;
    z-index: 1000;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: white;
    border: 2px solid black;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}     

.copy-icon{
    font-size: 1.5rem;
}

#copypassword:focus,
#copypassword:hover{
    outline: none;
    background-color: black;
    border: 2px solid white;
    color: white;
 }

.toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.toggle > p, .slider{
    margin-right: 2rem;
    white-space: nowrap;
    font-size: 1.5rem;
}

.genbutton{
    text-align: center;
  
}

#genpw{
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#genpw:hover,
#genpw:focus{
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

/* ####################### ####################### #######################  */
/* ####################### BUTTON/SLIDER STYLES ####################### */
/* ####################### ####################### #######################  */
.slidecontainer {
    width: 100%;
  }
 
  .slider {
    flex: 2;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    background: var(--bg-col2);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 2rem;
  }

  #slidervalue{
    font-size: 1rem;
    flex: 1;
    text-align: right;
    padding-right: 1rem;
  }

  .slider:hover{
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background: var(--bg-col1);
    border-radius: 50%;
    border: 4px solid white;
    cursor: pointer;
  }

/* ####################### ####################### #######################  */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .button-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
 .button-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
 }

 .button-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bg-col1);
    -webkit-transition: .4s;
    transition: .4s;
 }

 .button-checkbox:checked + .button-slider {
    background-color: var(--bg-col2);
 }


 /* focus effects on click is annoying - COME BACK TO THIS */

 .button-checkbox:focus + .button-slider{
    box-shadow: 0 0 10px black;
    outline: none;
 }

 .button-checkbox:checked + .button-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
 }

/* Rounded button-sliders */
 .button-slider {
    border-radius: 34px;
 }

 .button-slider:before {
    border-radius: 50%;
 }

/* ####################### ####################### #######################  */
/* ####################### media queries ####################### */
/* ####################### ####################### #######################  */

/* app adjustment for larger screens */
@media (min-width: 35rem){

    .passwordapp{
        width: 600px;
    }
    #passwordString{
        font-size: 2rem;
    }
    #slidervalue{
        font-size: 2rem;
    }
    .toggle > p, .slider{
        font-size: 3rem;
    }
    
    #genpw{
        font-size: 3rem;
    }

}

/* ####################### ####################### #######################  */
/* ####################### FUNKY FLOATING OBJECT STYLES AND ANIMATION  ####################### */
/* ####################### ####################### #######################  */


/* shapes container */

.shapes{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* animation responsible for movement, rotation and rounding of shapes */
@keyframes floating {
    0%{
        opacity: 1;
        border-radius: 0;
        transform: translateY(0) rotate(0deg) ;
    }
    100%{
        opacity: 0;
        border-radius: 50%;
        transform: translateY(-1000px) rotate(720deg) ;
    }   
}

/* setting the properties for each of the squares */
.shape{
    position: absolute;
    display: block;
    background: var(--shape-color);
    bottom: -150px;
    animation: floating 10s linear infinite;
}

/* position each of the shapes individually (used a random number generator for some of these) */
.shapes .shape:nth-child(1){
    left:5%;
    animation-delay: 0;
    height: 25px;
    width: 25px;
    animation-duration: 12s;
}
.shapes .shape:nth-child(2){
    left: 10%;
    animation-delay: 10s;
    height: 50px;
    width: 50px;

}
.shapes .shape:nth-child(3){
    left: 15%;
    animation-delay: 3s;
    height: 100px;
    width: 100px;
    animation-duration: 25s;

}
.shapes .shape:nth-child(4){
    left: 20%;
    animation-delay: 17s;
    height: 75px;
    width: 75px;

}
.shapes .shape:nth-child(5){
    left: 25%;
    animation-delay: 5s;
    height: 50px;
    width: 50px;
    animation-duration: 20s;

}
.shapes .shape:nth-child(6){
    left: 35%;
    animation-delay: 3s;
    height: 30px;
    width: 30px;
    animation-duration: 15s;

}
.shapes .shape:nth-child(7){
    left: 55%;
    animation-delay: 0;
    height: 50px;
    width: 50px;
    animation-duration: 10s;

}
.shapes .shape:nth-child(8){
    left: 60%;
    animation-delay: 8s;
    height: 150px;
    width: 150px;
    animation-duration: 30s;

}
.shapes .shape:nth-child(9){
    left: 70%;
    animation-delay: 5s;
    height: 60px;
    width: 60px;
    animation-duration: 10s;

}
.shapes .shape:nth-child(10){
    left: 95%;
    animation-delay: 4s;
    height: 25px;
    width:  25px;

}
.shapes .shape:nth-child(11){
    left: 83%;
    animation-delay: 7s;
    height: 40px;
    width:  40px;
    animation-duration: 15s;

}
